<div class="col-md-10 col-md-offset-1">
  <h3>Pokergames listing</h3>


  <% pokergames.each do |pokergame| %>
  <div class="user-form-devise">
    <%= link_to(poker_game_path(pokergame.id)) do %>
    <h2><%= pokergame.description %></h2>
    <% end %>
    le <%= pokergame.date.strftime("%d/%m/%Y") %> à <%= pokergame.hour.strftime("%H:%M") %>
    <p><%= pokergame.gametype %></p>
    <p><%= pokergame.city_address %></p>



  </div>
  <% end %>
  <%= paginate pokergames %>

</div>