<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="user-form-devise">
      <h3>Your Poker game was well created</h3>
      <h4>Resume</h4>

      <%= @pokergame.description %>
      <br />
      <%= @pokergame.date %>
      <br />
      <%= @pokergame.hour %>
      <br />
      <%= @pokergame.gametype %>
      <br />
      <%= @pokergame.nb_players_required %>
      <br />
      <%= @pokergame.street_address %>
      <br />
      <%= @pokergame.zipcode_address %>
      <br />
      <%= @pokergame.city_address %>
      <br />

      <button class="btn btn-primary" id="sharePoker">Partager sur Facebook</button>


    </div>
  </div>
</div>
<%= render 'tpl/fb_share_poker' %>

<%= yield(:sharePoker) %>
