<div class="row">
  <div class="col-md-4 col-md-offset-4">

      <h3>Vos parties </h3>
<% @my_poker_games.each do |mypgames| %>
<div class="user-form-devise">
  <%= link_to(poker_game_path(mypgames.id)) do %>
  <h2><%= mypgames.description %></h2>
  <% end %>
   le <%= mypgames.date.strftime("%d/%m/%Y") %> à <%= mypgames.hour.strftime("%H:%M") %>
  <p><%=  mypgames.gametype %></p>


<% @selected = mypgames.game_participations.all %>


        <% @selected.where("is_accepted is null").each do |s| %>


      <div class="accepted_or_not" id="<%= "game_participation_#{s.id}" %>">
        <p style="color:red;"> <%= s.user.name  %> a demandé de rejoindre votre partie</p>

          <%= link_to 'Accepter', poker_game_game_participation_path(s.poker_game.id,s.id,is_accepted: true), method: 'patch', remote: true, class: "btn btn-primary" %>

        <%= link_to 'Refuser', poker_game_game_participation_path(s.poker_game.id,s.id,is_accepted: false), method: 'patch', remote: true, class: "btn btn-danger" %>
        </div>







    <% end %>
  <div class="reactonclick1">
    <% @selected.where(is_accepted: true).each do |mst| %>
     <p><span style="color:green;"><%= link_to user_path(mst.user.id) do %><%= mst.user.name %><% end %></span> est validé pour la partie</p>
    <% end %>
  </div>
  <div class="reactonclick2">
    <% @selected.where(is_accepted: false).each do |mst| %>
     <p><span style="color:green;"><%= link_to user_path(mst.user.id) do %><%= mst.user.name %><% end %></span> est refusé de la partie</p>
    <% end %>
  </div>
  </div>
<% end %>
<br />




<h3>Vos demandes</h3>
<br />
<strong>Vous avez <%= current_user.participate_poker_games.where("is_accepted is null").count %> demandes en cours pour rejoindre des parties :</strong><br />
<br />
<% current_user.participate_poker_games.where("is_accepted is null").each do |game| %>
 <%= link_to poker_game_path(game.id) do %><%= game.description %><% end %> créée par <%= link_to user_path(game.creator.id) do %><%= game.creator.name %><% end %>
<hr />
<% end %>
<br />




<br />
<strong>Vous avez été accepté à <%= current_user.accepted_poker_games.count %> parties : </strong>
<br />
<% current_user.accepted_poker_games.each do |game| %>
<%= link_to poker_game_path(game.id) do %><%= game.description %><% end %> créée par <%= link_to user_path(game.creator.id) do %><%= game.creator.name %><% end %>
<hr />
<% end %>
<br />






  </div>

</div>


