<div class="row">
  <div class="col-md-4 col-md-offset-4">

      <h3>your pokergames</h3>
<% @my_poker_games.each do |mypgames| %>
<div class="user-form-devise">
  <%= link_to(poker_game_path(mypgames.id)) do %>
  <h2><%= mypgames.description %></h2>
  <% end %>
   le <%= mypgames.date.strftime("%d/%m/%Y") %> à <%= mypgames.hour.strftime("%H:%M") %>
  <p><%=  mypgames.gametype %></p>


<% @selected = mypgames.game_participations.all %>
<% @selected.where("answered_at is not null").each do |s| %>
<p style="color:red;"> <%= s.user.name %> a demandé de rejoindre votre partie</p><h4>Accepter | Refuser</h4>
<% end %>


  </div>
<% end %>
<br />





<br />
<strong>Vous avez fait <%= current_user.participate_poker_games.count %> demandes pour rejoindre des parties :</strong><br />
<br />
<% current_user.participate_poker_games.each do |game| %>
 <%= link_to poker_game_path(game.id) do %><%= game.description %><% end %> créée par <%= link_to user_path(game.creator.id) do %><%= game.creator.name %><% end %>
<hr />
<% end %>
<br />




<br />
<strong>Vous avez été accepté à <%= current_user.accepted_poker_games.count %> parties : </strong>
<br />
<% current_user.accepted_poker_games.each do |game| %>
Vous avez été accepté à: <%= game.description %> créée par <%= game.creator.name %>
<hr />
<% end %>


  </div>

</div>


