<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="user-form-devise">
      <ul class="list-inline">
        <li>Game à <%= @pokergame.city_address %></li>
        <li>Game type : <%= @pokergame.gametype %></li>
      </ul>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="user-form-devise">

      <%= @pokergame.description %>
      <br />
      <%= @pokergame.date.strftime("%d/%m/%Y") %>
      <br />
      <%= @pokergame.hour.strftime("%H:%M") %>
      <br />
      <%= @pokergame.gametype %>
      <br />
      <%= @pokergame.nb_players_required %>
      <br />
      <%= @pokergame.street_address %>
      <br />
      <%= @pokergame.zipcode_address %>
      <br />
      <%= @pokergame.city_address %>
      <br />
      <%= @pokergame.lat %>
      <br />
      <%= @pokergame.lng %>
      <br />
      <% if @pokergame.user == current_user %>
     <%= link_to("Cancel", poker_game_path , method:  :delete, class: "btn btn-danger") %>
      <% end %>
    </div>
  </div>
      <div class="col-md-4 ">
        <div class="user-form-devise">
          Organisé par<%= link_to user_path(@pokergame.user) do %>
          <h3> <%= @pokergame.user.name %></h3>
          <% end %>
        <%=  image_tag @pokergame.user.picture(:medium) if @pokergame.user.picture.exists? %>
        <% if @pokergame.user != current_user %>
        <br />

        <%= button_to '', poker_game_game_participations_path(@pokergame), remote: true, class: "btn btn-primary #{@pokergame.participate?(current_user) ? 'active' : ''}", form_class: 'participate', data: {active: 'Partie rejointe', inactive: 'Rejoindre la partie'} %>
        <% end %>
      </div>
      </div>
</div>
</div>
<%= content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready page:load', function() {

      set_button_text = function($button) {

        if ($button.hasClass('active')) {
          $button.val($button.data('active'))
        } else {
          $button.val($button.data('inactive'))
        }
      }

      $button = $('form.participate .btn')

      set_button_text($button);
          $('.participate').on('ajax:success', function(event, data) {

              $button.val("partie rejointe");
            });
      });
  <% end %>
<% end %>