<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="user-form-devise">
      <ul class="list-inline">
        <li>Game à <%= @pokergame.city_address %></li>
        <li>Game type : <%= @pokergame.gametype %></li>
      </ul>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="user-form-devise">

      <%= @pokergame.description %>
      <br />
      <%= @pokergame.date.strftime("%d/%m/%Y") %>
      <br />
      <%= @pokergame.hour.strftime("%H:%M") %>
      <br />
      <%= @pokergame.gametype %>
      <br />
      <%= @pokergame.nb_players_required %>
      <br />
      <%= @pokergame.street_address %>
      <br />
      <%= @pokergame.zipcode_address %>
      <br />
      <%= @pokergame.city_address %>
      <br />
      <%= @pokergame.lat %>
      <br />
      <%= @pokergame.lng %>
      <br />
      <% if @pokergame.user == current_user %>
     <%= link_to("Cancel", poker_game_path , method:  :delete, class: "btn btn-danger") %>
      <% end %>
    </div>
  </div>
      <div class="col-md-4 ">
        <div class="user-form-devise">
          <h3>Organisé par <%= @pokergame.user.name %></h3>
        <%=  image_tag @pokergame.user.picture(:medium) %>
      </div>
      </div>
</div>
</div>

