<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="user-form-devise">
    <h1><i class="fa fa-user"></i> Edit your profile</h1>

    <% if (@user.birthday || @user.phone || @user.phone) == nil %>
      <p><strong>You must  complete your profile before creating a new poker game</strong></p>
    <% end %>
    <%= simple_form_for(@user, html: { multipart: true }) do |f| %>
      <%= f.input :name %>
      <%= f.input :phone %>
      <%= f.input :birthday, as: :date_picker,
      order: [:day,:month, :year] %>
      <% if current_user.provider != "facebook" %>
      <h5><strong>Upload Your Picture profile</strong></h5>
      <%= f.file_field :picture %>
      <% end %>
      <br />
      <%= f.button :submit, class: "btn btn-primary"%>

    <% end %>
<br />
</div>
  </div>
</div>